<a href="https://colab.research.google.com/github/mlbfalchetti/Python/blob/main/Python_for_everybody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [6]:
x = 2
print(x)
x = x + 2
print(x)

2
4

In [7]:
x = 2
if x < 10 :
  print("< than 10")
if x > 10 :
  print("> than 10")
print("The end")

< than 10
The end

In [9]:
x = 5
while x > 0 :
  print(x)
  x = x - 1
print("The end")

5
4
3
2
1
The end

In [10]:
x = 2

y = x + 2
print(y)

y = x * x
print(y)

y = x / x
print(y)

y = x % x
print(y)

y = x ** x
print(y)

4
4
1.0
0
4

In [ ]:
# Operator precedence rules

# Parenthesis
# **
# *; / 
# +; -
# Left to right

In [16]:
x = 1 + 2 # Sum
print(x)

x = "Hello, " + "world" # Concatenate
print(x)

# x = "Hello, " + 1 # Error

type("Hello, ")

type(1)

3
Hello, world

int

In [17]:
print(float(1) + 2) # To float

3.0

In [20]:
print(10 / 2) # Integer division produces a floating point in Python 3.x

5.0

In [4]:
my_input = input("Europe floor? ")

my_output = int(my_input) + 1

print("US floor:", my_output)

Europe floor? 0
US floor: 1

In [ ]:
# Turn off tabs! 4 spaces!

In [7]:
x = 5

if x > 2 : 
  print("More than 2") # True; This is true
else :
  print("Less than 2") # False; This is skipped
print("Done!")

if x > 2 : 
  print("More than 2") # True. This is true
elif x > 4:
  print("More than 4") # True; This is skipped
else :
  print("Less than 2") # False; This is skipped
print("Done!")

More than 2
Done!
More than 2
Done!

In [9]:
my_input = "Hello"
try:
  my_output = int(my_input)
except:
  my_output = 1
print("My value:", my_output)

My value: 1

In [15]:
def greet (language) : # Function: greet; Parameter: language
  if language == "en" : 
    print("Hello")
  elif language == "es" : 
    print("Hola")

greet("en")

greet("es")

Hello
Hola

In [16]:
def add_two_values (a, b) : 
  added = a + b
  return added

x = add_two_values(1, 2)
print(x)

3