<a href="https://colab.research.google.com/github/mlbfalchetti/Python/blob/main/Python_for_everybody.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
x = 2
print(x)
x = x + 2
print(x)

2
4

In [ ]:
x = 2
if x < 10 :
  print("< than 10")
if x > 10 :
  print("> than 10")
print("The end")

< than 10
The end

In [ ]:
x = 5
while x > 0 :
  print(x)
  x = x - 1
print("The end")

5
4
3
2
1
The end

In [ ]:
x = 2

y = x + 2
print(y)

y = x * x
print(y)

y = x / x
print(y)

y = x % x
print(y)

y = x ** x
print(y)

4
4
1.0
0
4

In [ ]:
# Operator precedence rules

# Parenthesis
# **
# *; / 
# +; -
# Left to right

In [ ]:
x = 1 + 2 # Sum
print(x)

x = "Hello, " + "world" # Concatenate
print(x)

# x = "Hello, " + 1 # Error

type("Hello, ")

type(1)

3
Hello, world

int

In [ ]:
print(float(1) + 2) # To float

3.0

In [ ]:
print(10 / 2) # Integer division produces a floating point in Python 3.x

5.0

In [ ]:
my_input = input("Europe floor? ")

my_output = int(my_input) + 1

print("US floor:", my_output)

Europe floor? 0
US floor: 1

In [ ]:
# Turn off tabs! 4 spaces!

In [ ]:
x = 5

if x > 2 : 
  print("More than 2") # True; This is true
else :
  print("Less than 2") # False; This is skipped
print("Done!")

if x > 2 : 
  print("More than 2") # True. This is true
elif x > 4:
  print("More than 4") # True; This is skipped
else :
  print("Less than 2") # False; This is skipped
print("Done!")

More than 2
Done!
More than 2
Done!

In [ ]:
my_input = "Hello"
try:
  my_output = int(my_input)
except:
  my_output = 1
print("My value:", my_output)

My value: 1

In [ ]:
def greet (language) : # Function: greet; Parameter: language
  if language == "en" : 
    print("Hello")
  elif language == "es" : 
    print("Hola")

greet("en")

greet("es")

Hello
Hola

In [ ]:
def add_two_values (a, b) : 
  added = a + b
  return added

x = add_two_values(1, 2)
print(x)

3

In [2]:
n = 3
while n > 0 :
  print(n)
  n = n - 1
print("The end")
print(n)

3
2
1
The end
0

In [4]:
while True :
  line = input("> ")
  if line == "Done" : 
    break
  print(line)
print("The end")

> Hello there
Hello there
> Done
The end

In [5]:
# Definite loops
for i in [3, 2, 1] :
  print(i)
print("The end")

3
2
1
The end

In [6]:
friends = ["A", "B", "C"]
for friend in friends : 
  print("Happy new year:", friend)
print("The end")

Happy new year: A
Happy new year: B
Happy new year: C
The end

In [8]:
count = 0
sum = 0
print("Before", count, sum)
for value in [1, 2, 3] : 
  count = count + 1
  sum = sum + value
print("After", count, sum, sum / count)

Before 0 0
After 3 6 2.0

In [11]:
for value in [1, 2, 3] : 
  if value > 2:
    print("More than 2:", value)

More than 2: 3

In [14]:
smallest = None
for value in [1, 2, 3, 4 , 5] : 
  if smallest is None : 
    smallest = value
  elif value < smallest : 
    smallest = value
  print(smallest, value)
print(smallest)

1 1
1 2
1 3
1 4
1 5
1

In [19]:
0 == 0.0

True

In [18]:
0 is 0.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-18-6aaf729ba8f4>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0 is 0.0

False

In [21]:
fruit = "banana"
letter = fruit[0]
print(letter)

b

In [22]:
print(len(fruit))

6

In [23]:
fruit = "banana"
for letter in fruit : 
  print(letter)

b
a
n
a
n
a

In [24]:
word = "banana"
count = 0
for letter in word : 
  if letter == "a" : 
    count = count + 1
print(count)

3

In [27]:
my_string = "Monty Python"
print(my_string[0:3]) # Up to but not including...

Mon

In [29]:
A = "Hello"
B = "there"
A + " " + B

'Hello there'

In [30]:
fruit = "banana"
"b" in fruit

True

In [31]:
greet = "Hello Bob"
greet.lower()

'hello bob'

In [34]:
greet = "Hello Bob"

type(greet)

# dir(greet) # Methods of str

str